// Body
//$body-bg: #f8fafc;

// Typography
$font-size-base: 1rem;
$line-height-base: 1.6;

// Color
$primary-color: #B35757;
$secondary-color: #916714;

$primary-bg: #ECD7D3;
$secondary-bg: #F7F5F2;

$text-color: #515456;
$footer-text-color: #BF994F;


// Bootstrap Variable
$primary: $primary-color;
$secondary: $secondary-color;



