// For footer to be in the bottom
html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

// Variables
@import 'variables';

// Fonts
@import "fonts";

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Header, Navbar section
.navbar-title {
    font-family: Regista, serif;
}

header > ul {
    text-transform: uppercase;
    font-family: Arial, serif;
    font-size: 1.125rem;

    .nav-link {
        color: $text-color;
    }

    .dropdown-menu {
        text-transform: capitalize;
    }
}

// Section Overlay
.bg-primary-color {
    background-color: $primary-bg;
}

.bg-secondary-color {
    background-color: $secondary-bg;
}

.overlay-top {
    background-image: url('../images/overlay-top.png');
    background-position: top center;
    background-repeat: repeat-x;
    background-size: 100% auto;
    height: 200px;
}

.overlay-bottom {
    background-image: url('../images/overlay-bottom.png');
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: 100% auto;
    height: 200px;
}






