// For footer to be in the bottom
html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

// Variables
@import 'variables';

// Fonts
@import "fonts";

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Header, Navbar section
.navbar-title {
    font-family: Regista, serif;
}

header > ul {
    text-transform: uppercase;
    font-family: Arial, serif;
    font-size: 1.125rem;

    .nav-link {
        color: $text-color;
    }

    .dropdown-menu {
        text-transform: capitalize;
    }
}





