@use "../abstracts/variables";

@use "../abstracts/mixins";
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    i {
        margin-right: 4px;
        color: #727272;
    }
    &.active {
        color: variables.$primary-color;
    }
    &:hover i, &.active i {
        color: inherit;
    }
}


// Dashboard
.icon-card {
    height: 100%;
    max-height: 56px;
    width: 4rem;
    border-radius: 15rem;
    i {
        font-size: 2rem;
    }
}


//Select Label
.select {
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    padding: 0 5px;
    background-color: white;
    color: #6C757D;
}
.label {
    position: absolute;
    top: -8px;
    left: 10px;
    pointer-events: none;
    font-size: 0.7rem;
    color: #d37171;
    background: white;
}
.field {
    position: relative;
    width: 100%;
}

// Table

th a {
    color: black;
}

th a:hover {
    color: #198750;
}


// Search form
.admin-searchform {
    width: 50%;
    @include mixins.mobile {
        width: 100%;
    }
}

.admin-form-group {
    @include mixins.tablet {
        flex-wrap: wrap;
    }
}
