// Fonts
@use "../abstracts/fonts";

@use "../abstracts/variables";

@use "../abstracts/mixins";

#authenticate .form-control {
    padding-right: 3.8rem;
}

#authenticate label {
    color: variables.$text-color
}

.loginform {
    position: relative;
    height: 572px;
    @include mixins.mobile {
     height: auto;
    }
    width: 750px;
    margin: 20px auto;
    border: 1px solid #dddd;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    font-family: 'Montserrat', sans-serif;
    .btn-primary {
        border: 0;
        font-size: 14px;
    }
    h1 {
        font-weight: bold;
        margin: 0;
    }
    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 15px 0 20px;
    }
    a {
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }
    button:active {
        transform: scale(0.90);
    }
}

.bg-image {
    background-image: url('../images/auth-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.auth-body-image {
    background-image: url('../images/auth-body-bg.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}

.auth-btn {
    color: #fff;
    background: variables.$primary-color;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid variables.$primary-color;;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.auth-btn-transparent {
    background-color: transparent;
    border: 2px solid #fff;
}

.form-floating {
    span{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 90%;
        user-select: none;
        color: #999;
        pointer-events: none;
        transition: 0.25s ease;
    }

    .form-control {
        &:not(:placeholder-shown)~span,
        &:focus ~ span {
            top: 62%;
            color: variables.$primary-color;
        }
    }
}
