// Variables
@use '../abstracts/variables';
// Mixins
@use "../abstracts/mixins";

.navbar-title {
    font-family: Regista, serif;
}

#navbarSupportedContent {
    text-transform: uppercase;
    font-family: Arial, serif;
    font-size: 1.125rem;

    .nav-link {
        color: variables.$text-color;
    }

    .dropdown-menu {
        text-transform: capitalize;
    }
}

.header-title {
    margin-top: 5rem;
    font-size: 5rem;
    font-family: 'Babylone Script', serif;
    color: variables.$header-text-color;
}

.header-text-color {
    color: variables.$header-text-color;
}

.banner-img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 28vw;
    @include mixins.tablet {
        position: relative;
        float: right;
        height: 45vw;
    }
}

.nav-active {
    border-bottom: 1px solid variables.$primary-color;
}
