// Mixins
@use "../abstracts/mixins";


%overlay {
    background-repeat: repeat-x;
    background-size: 100% auto;

    height: 175px;

    //Mobile
    @include mixins.mobile {
        height: 75px;
    }
    //Tablet
    @include mixins.tablet {
        height: 125px;
    }
}

.overlay-top {
    @extend %overlay;
    background-image: url('../images/overlay-top.png');
    background-position: top center;
}

.overlay-bottom {
    @extend %overlay;
    background-image: url('../images/overlay-bottom.png');
    background-position: bottom center;
}
