@font-face {
    font-family: Regista;
    src: url('../fonts/Regista.ttf');
}

@font-face {
    font-family: Helvetica Neue;
    src: url('../fonts/Helvetica Neue Regular.otf');
}

@font-face {
    font-family: Babylone Script;
    src: url('../fonts/Babylone Script.ttf');
}
