// Variables
@use '../abstracts/variables';

//Utilities
.text-primary-color {
    color: variables.$text-color;
}

.footer-text-color {
    color: variables.$footer-text-color;
}

.bg-primary-color {
    background-color: variables.$primary-bg;
}

.bg-secondary-color {
    background-color: variables.$secondary-bg;
}

%btn {
    border-radius: 1.25rem;
    padding: 0.5rem 0.8rem;
    font-weight: 500;
    color: white;
    &:hover {
        color: variables.$text-color-white;
    }
    &:active {
        color: variables.$text-color-white !important;
    }
}

.btn-primary-color {
    @extend %btn;
    background-color: variables.$primary-btn-color;
    &:hover {
        background-color: lighten(variables.$primary-btn-color,3);
    }
    &:active {
        background-color: lighten(variables.$primary-btn-color,5) !important;
    }
}

.btn-secondary-color {
    @extend %btn;
    background-color: variables.$secondary-btn-color;
    &:hover {
        background-color: lighten(variables.$secondary-btn-color,3);
    }
    &:active {
        background-color: lighten(variables.$secondary-btn-color,5) !important;
    }
}
