// Body
//$body-bg: #f8fafc;

// Typography
$font-size-base: 1rem;
$line-height-base: 1.6;

// Color
$primary-color: #B35757;
$secondary-color: #916714;

$primary-bg: #ECD7D3;
$secondary-bg: #F7F5F2;

$primary-btn-color: #d37272;
$secondary-btn-color: #bf994f;

$text-color: #515456;
$text-color-white: #F2F2F2FF;

$header-text-color: #d37171;

$footer-text-color: #BF994F;


// Post Card
$main-red: rgb(211,114,114) !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;


